/* Footer component */

.footer {
    border-top: 2px solid $main-color;
    padding: 10px;
    background: linear-gradient($main-color, $secondary-color 70%);

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        p {
            @include font-set(1rem, 500);
        }
    }
}