/* AddEmployeePage component */

.employees-list-page {
    padding: 40px 0px;

    >h2 {
        font-size: 1.7rem;
        margin-bottom: 30px;
    }

    >section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

    &__nb-entries {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;

        .rcdc-dropdown-wrapper {
            width: 55px;
        }

        .rcdc-dropdown-value-container {
            padding: 2px;
        }

        .rcdc-dropdown-value-logo {
            font-size: 1rem;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        input {
            border: 2px solid $main-color;
            border-radius: 5px;
            max-width: 150px;
        }
    }
}

.employees-table {
    border-collapse: collapse;

    &__header {

        tr {
            border-bottom: 2px solid $main-color;
            background-color: lighten($main-color, 5);
        }

        th {
            border-left: 1px solid lighten($main-color, 50);
            border-right: 1px solid lighten($main-color, 50);
            padding: 10px;
            cursor: pointer;

            >span {
                vertical-align: middle;
            }

            .sorting-carets {
                display: inline-flex;
                flex-direction: column;
                margin-left: 10px;
                font-size: 0.75rem;
            }

            &.not-sorted {
                cursor: default;
            }
        }
    }

    &__body {
        text-align: center;

        tr {
            border-bottom: 2px solid $main-color;

            &:nth-child(even) {
                background-color: lighten($main-color, 70);
            }

            &:hover {
                background-color: $secondary-color;
                color: white;
            }
        }

        td {
            border-left: 1px solid lighten($main-color, 50);
            border-right: 1px solid lighten($main-color, 50);
            padding: 5px;

            &.actions {
                display: flex;
                column-gap: 15px;
            }

            .actions-bts {
                padding: 5px;
                font-size: 0.9rem;
                line-height: 0.9rem;

                &:hover,
                &:focus {
                    background-color: $main-color;
                }
            }
        }
    }
}

.paging {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    &__detail-entries {
        text-align: center;

        .more-visible {
            font-weight: 500;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        column-gap: 15px;

        button {
            padding: 5px;
            @include font-set(1rem, 400);

            &.current {
                pointer-events: none;
                border: 2px inset darken($main-color, 10);
                border-radius: 5px;
                background-color: $main-color;
                color: white;
            }

            &[disabled] {
                border-color: darkgray;
                pointer-events: none;
            }
        }

        &__pages {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}