/* HomePage component */

.home-page {
    padding: 40px 0px;
    row-gap: 4vh;
    justify-content: center;

    h2 {
        @include font-set(8rem, 700);
        color: $main-color;
    }

    h3 {
        @include font-set(6rem, 700);
        color: $main-color;
    }

    &__links {
        display: flex;
        gap: 200px;
    }
}