/*Global settings*/

div#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $main-font;
}

main {
    flex: 1;
}

button {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}