/*Global settings*/

div#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $main-font;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.main-button {
    display: block;
    background-color: white;
    padding: 20px;
    @include font-set(1.5rem, 500);
    border: 2px solid $main-color;
    border-radius: 5px;
}

.main-button:hover {
    background-color: $secondary-color;
    color: white;
}